.fa7-solid--home {
  display: inline-block;
  width: 16px;
 
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M277.8 8.6c-12.3-11.4-31.3-11.4-43.5 0l-224 208c-9.6 9-12.8 22.9-8 35.1S18.8 272 32 272h16v176c0 35.3 28.7 64 64 64h288c35.3 0 64-28.7 64-64V272h16c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8-35.1zM240 320h32c26.5 0 48 21.5 48 48v96H192v-96c0-26.5 21.5-48 48-48'/%3E%3C/svg%3E");
}
.custom-checkbox-inventory {
  appearance: none;
  -webkit-appearance: none;
  width: 29px;
  height: 29px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background-color: white;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox-inventory:checked {
  background-color: #000000;
  border-color: #BFBFBF;
}
.custom-checkbox-inventory:checked::after {
  content: '';
  width: 6px; 
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-top: -2px; 
}
.custom-checkbox-inventory:disabled {
  background-color: #BFBFBF;
  border-color: #BFBFBF;    
  cursor: not-allowed;        
  opacity: 1;                 
}